# Byte-compiled / optimized / DLL files
__pycache__/

# Conda environment lockfiles
environment-win-64.lock.yaml

# MLflow local logs
mlruns/

data/processed/
data/raw/lipid_metadata_core.csv
data/raw/lipidomics.csv

models/*
outputs/